body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
   
}

.contract {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}



input, textarea {
    
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.section-separator {
    border-top: 2px solid #000; 
    margin-top: 40px; 
}


h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contract-section {

    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 210mm;
    position: relative;
    
}


#section1 h1 {
    font-size: 28px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px; 
    
}

#section1 p {
    font-size: 16px;
    line-height: 1.5;
    
}

#section1 .company-info {
    font-size: large;
    font-weight: bold;
    margin-left: 100px;
    
     
}

#section1 input{
    margin-left: 100px;
    margin-bottom: 50px;
}

#section1 .section-separator{
    border-top: 2px solid #000; 
    bottom: 0;
    
}

#download {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    font-size: 16px; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#download:hover {
    background-color: #0056b3;
}



