body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contract {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}



input, textarea {
    /* width: 100%; */
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.contract-section {
    /* page-break-before: always; */
}

.section-separator {
    border-top: 2px solid #000; /* Add a horizontal line as a section separator */
    margin-top: 40px; /* Adjust the margin as needed */
}

/* Section 1*/


h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}



.contract-section {

    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 210mm;
    height: 297mm;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.page-number {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #555;
}

#section1 h1 {
    font-size: 28px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px; 
    
}

#section1 p {
    font-size: 16px;
    line-height: 1.5;
    
}

#section1 .company-info {
    font-size: large;
    font-weight: bold;
    margin-left: 100px;
    
     
}

#section1 input{
    margin-left: 100px;
    margin-bottom: 50px;
}

#section1 .section-separator{
    border-top: 2px solid #000; 
    bottom: 0;
    
}